<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.woniuxy.mapper.OrderMapper">

    <!--编写标准的resultMap-->
    <resultMap id="baseMap" type="com.woniuxy.entity.Order">
        <id column="id" property="id"/>
        <result column="uid" property="uid"/>
        <result column="ono" property="ono"/>
        <result column="pid" property="pid"/>
        <result column="detail" property="detail"/>
        <result column="num" property="num"/>
        <result column="starttime" property="startTime"/>
        <result column="endtime" property="endTime"/>
        <result column="status" property="status"/>
    </resultMap>

    <!--编写一个标准的列-->
    <sql id="baseCol">
        id
        ,uid,ono,pid,detail,num,starttime,endtime,status
    </sql>

    <!--    1.int add(Order order);-->
    <insert id="add" parameterType="com.woniuxy.entity.Order">
        INSERT INTO t_order
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="uid != null">
                uid,
            </if>
            <if test="ono != null and ono != ''">
                ono,
            </if>
            <if test="pid != null">
                pid,
            </if>
            <if test="detail != null and detail != ''">
                detail,
            </if>
            <if test="num != null">
                num,
            </if>
            <if test="startTime != null and startTime != ''">
                starttime,
            </if>
            <if test="endTime != null and endTime != ''">
                endtime,
            </if>
            <if test="status != null">
                status,
            </if>
        </trim>
        VALUE
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id},
            </if>
            <if test="uid != null">
                #{uid},
            </if>
            <if test="ono != null and ono != ''">
                #{ono},
            </if>
            <if test="pid != null">
                #{pid},
            </if>
            <if test="detail != null and detail != ''">
                #{detail},
            </if>
            <if test="num != null">
                #{num},
            </if>
            <if test="startTime != null and startTime != ''">
                #{startTime},
            </if>
            <if test="endTime != null and endTime != ''">
                #{endTime},
            </if>
            <if test="status != null">
                #{status},
            </if>
        </trim>
    </insert>

    <!--    2.Order findById(int id);-->
    <select id="findById" resultMap="baseMap">
        SELECT
        <include refid="baseCol"/>
        FROM t_order
        WHERE id=#{value}
    </select>

    <!--    3.int update(Order order);-->
    <update id="update" parameterType="com.woniuxy.entity.Order">
        UPDATE t_order
        <set>
            <if test="uid != null">
                uid=#{uid},
            </if>
            <if test="ono != null and ono != ''">
                ono=#{ono},
            </if>
            <if test="pid != null">
                pid=#{pid},
            </if>
            <if test="detail != null and detail != ''">
                detail=#{detail},
            </if>
            <if test="num != null">
                num=#{num},
            </if>
            <if test="startTime != null and startTime != ''">
                starttime=#{startTime},
            </if>
            <if test="endTime != null and endTime != ''">
                endtime=#{endTime},
            </if>
            <if test="status != null">
                status=#{status},
            </if>
        </set>
        WHERE id=#{id}
    </update>

    <!--    4.List<Order> findByCondition(Order order);-->
    <select id="findByCondition" parameterType="com.woniuxy.entity.Order" resultMap="baseMap">
        SELECT
        <include refid="baseCol"/>
        FROM t_order
        <where>
            <if test="id != null">
                AND id=#{id}
            </if>
            <if test="uid != null">
                AND uid=#{uid}
            </if>
            <if test="ono != null and ono != ''">
                AND ono=#{ono}
            </if>
            <if test="pid != null">
                AND pid=#{pid}
            </if>
            <if test="detail != null and detail != ''">
                AND detail=#{detail}
            </if>
            <if test="num != null">
                AND num=#{num}
            </if>
            <if test="startTime != null and startTime != ''">
                AND starttime=#{startTime}
            </if>
            <if test="endTime != null and endTime != ''">
                AND endtime=#{endTime}
            </if>
            <if test="status != null">
                AND status=#{status}
            </if>
        </where>
    </select>

    <!--   5. int deleteByIds(@Param("ids") Integer... ids);删除-->
    <delete id="deleteByIds">
        DELETE FROM t_order WHERE id in
        <foreach collection="ids" item="id" open="(" close=")" separator=",">
            <if test="id!=null ">
                #{id}
            </if>
        </foreach>
    </delete>

<!--    6.List<Order> findBySome(@Param("ono")String ono,@Param("status") Integer status,@Param("pids") Integer[] pids,@Param("uid") Integer uid);-->
    <select id="findBySome" resultMap="baseMap">
        SELECT
        <include refid="baseCol"/>
        FROM t_order
        <where>
            <if test="ono != null and ono !=''">
                AND ono LIKE CONCAT("%",#{ono},"%")
            </if>
            <if test='status != null'>
                AND status = #{status}
            </if>
            <if test='status == null'>
                AND status != 0
            </if>
            <if test='pids != null'>
                AND pid in
                <foreach collection="pids" item="pid" open="(" close=")" separator=",">
                    <if test="pid!=null ">
                        #{pid}
                    </if>
                </foreach>
            </if>
            <if test='uid != null'>
                AND uid = #{uid}
            </if>
        </where>
        ORDER BY id DESC
    </select>

<!--    7.List<Order> findByIds(@Param("ids") Integer[] ids);-->
    <select id="findByIds" resultMap="baseMap">
        SELECT
        <include refid="baseCol"/>
        FROM t_order
        WHERE id in
        <foreach collection="ids" item="id" open="(" close=")" separator=",">
            <if test="id!=null ">
                #{id}
            </if>
        </foreach>
    </select>

<!--    8.int confirmOrderByIds(@Param("ids")Integer[] ids);-->
    <update id="confirmOrderByIds" >
        UPDATE t_order SET status=2
        WHERE id in
        <foreach collection="ids" item="id" open="(" close=")" separator=",">
            <if test="id!=null ">
                #{id}
            </if>
        </foreach>
    </update>
</mapper>