<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.woniuxy.mapper.ProductMapper">

    <!--编写标准的resultMap-->
    <resultMap id="baseMap" type="com.woniuxy.entity.Product">
        <id column="id" property="id"/>
        <result column="pname" property="pName"/>
        <result column="pinfo" property="pInfo"/>
        <result column="price" property="price"/>
        <result column="stock" property="stock"/>
        <result column="sale" property="sale"/>
        <result column="image" property="image"/>
    </resultMap>

    <!--编写一个标准的列-->
    <sql id="baseCol">
        id,pname,pinfo,price,stock,sale,image
    </sql>

    <!--    1.List<Product> findByCondition(Product product);-->
    <select id="findByCondition" parameterType="com.woniuxy.entity.Product" resultMap="baseMap">
        SELECT
        <include refid="baseCol"/>
        FROM t_product
        <where>
            <if test="id != null">
                AND id=#{id}
            </if>
            <if test="pName != null and pName != ''">
                AND pname=#{pName}
            </if>
            <if test="pInfo != null and pInfo != ''">
                AND pinfo=#{pInfo}
            </if>
            <if test="price != null">
                AND price=#{price}
            </if>
            <if test="stock != null">
                AND stock=#{stock}
            </if>
            <if test="sale != null">
                AND sale=#{sale}
            </if>
            <if test="image != null and image != ''">
                AND image=#{image}
            </if>
        </where>
    </select>


</mapper>